<hr />
<div class="mt-4">
  <ul class="flex justify-center border-b-2">
    <div class="flex flex-wrap">
      <div class="w-1/4">
        <li class="flex items-center">
          <a
            class="text-blue-500 hover:text-blue-700"
            [class.active]="activeTab === 'nowPlaying'"
            (click)="showFilms('nowPlaying')"
            >Now Playing</a
          >
        </li>
      </div>
      <div class="w-1/4">
        <li class="flex items-center">
          <a
            class="nav-link"
            [class.active]="activeTab === 'upComing'"
            (click)="showFilms('upComing')"
            >Upcoming</a
          >
        </li>
      </div>
      <div class="w-1/4">
        <li class="flex items-center">
          <a
            class="nav-link"
            [class.active]="activeTab === 'topRated'"
            (click)="showFilms('topRated')"
            >Top Rated</a
          >
        </li>
      </div>
      <div class="w-1/4">
        <li class="flex items-center">
          <a
            class="nav-link"
            [class.active]="activeTab === 'popular'"
            (click)="showFilms('popular')"
            >Popular</a
          >
        </li>
      </div>
    </div>
  </ul>

  <hr />
</div>
